@charset "UTF-8";
/**
Theme Name:     Storefront - MD Clean
Theme URI:      http://www.example.com
Description:    Child Theme for WooCommerce Storefront
Author:         Torsten Brieskorn
Author URI:     http://www.bitkorn.de
Text Domain:    storefront-mdclean
Domain Path:    /languages
Template:       storefront
Version:        0.0.15
*/
$color-brand: #0078d4;
$color-brand-rgba: rgba(0, 120, 212, 0.8);
$color-brand-light: #99d3ff;
$color-brand-lighter: #e6f4ff;
$color-black: #000022;
$color-gray-light: #f2f2f2;
@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/ubuntu/Ubuntu-R.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $color-brand;
  //background-image: url("assets/images/logo_compl.svg");
  //background-repeat: repeat-y;
  color: $color-black !important;
}

.widget-area .widget a, .hentry .entry-header .posted-on a, .hentry .entry-header .post-author a, .hentry .entry-header .post-comments a, .hentry .entry-header .byline a {
  color: $color-black;
}

.widget .widget-title, .widget .widgettitle {
  border-bottom: none;
}

a {
  text-decoration: none !important;
}

.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a {
  color: $color-black;
  font-weight: bold;
  text-decoration: none;
}

hr.mdclean-hr-shadow {
  border-color: $color-brand-rgba;
  /*
  https://developer.mozilla.org/de/docs/Web/CSS/box-shadow
   */
  box-shadow: 0 2px 6px 1px $color-brand-rgba;
}

div.col-full {
  background-color: $color-gray-light;
}

button.alt {
  background-color: #00a0d2 !important;
}

.widget_product_categories ul li::before {
  // remove content (folder Aufzaehlungszeichen)
  content: none !important;
}

.widget_product_categories ul li {
  list-style-image: url("/wp-content/themes/storefront-detergent/assets/images/soap-solid_20h.png");
  list-style-position: inside;
  padding-left: 0 !important;
}

.widget_shopping_cart {
  outline: 1px solid $color-brand;
}

input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], textarea, .input-text {
  padding: 0.42em;
  background-color: #f2f2f2;
  color: #43454b;
  border: 1px solid $color-brand;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: normal;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}

.site-branding, .site-search {
  margin-bottom: 0 !important;
}

#page header.site-header {
  padding-top: 4px !important;
  margin-bottom: 0 !important;
  background-color: transparent;
  border-bottom: none;
}

.site-branding {
  width: 600px !important;
}

li.menu-item a:hover {
  background-color: $color-brand;
  color: $color-black !important;
}

.mdclean-topright-nav ul {
  list-style: none;
}

.mdclean-topright-nav * {
  margin: 0;
}

.mdclean-topright-nav {
  margin: 6px 0;
}

.mdclean-topright-nav a {
  padding: 6px 8px;
}

.storefront-breadcrumb {
  margin: 0 !important;
  padding: 4px 0;
}

.w3-bar-item .site-search {
  width: 300px !important;
  margin: 0 !important;
}

@media (min-width: 768px) {
  .col-full {
    max-width: 90em;
  }
  .site-header .site-branding img {
    width: auto;
    height: 64px;
    max-width: none;
    max-height: none;
  }
  div.site-branding {
    display: inline-block !important;
    float: left !important;
    width: 360px !important;
    margin-right: 42px !important;
  }
  nav.main-navigation {
    display: inline-block !important;
    float: left !important;
    max-width: 600px;
    margin-right: 0 !important;
    clear: none !important; // ohne, geht <nav> in die naechste Zeile
  }

  .primary-navigation {
    width: 500px !important;
    margin-right: 0 !important;
  }

  .widget span.widgettitle, .widget span.widget-title {
    margin-bottom: 0 !important;
  }

  .storefront-primary-navigation, .site-content {
    //background-color: $color-brand !important;
    border-bottom: none !important;
  }

  .site-footer {
    background-color: transparent;
    padding: 0;
  }
}

@media (max-width: 66.4989378333em) {
  .col-full {
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding: 0 8px;
  }
}

/*# sourceMappingURL=style.css.map */
